@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    font-family: 'Roboto', sans-serif;
}

body{
    background-image: url("img/background.jpg");
}

form{
    background-color: gray;
    display: block;
    height: 200px;
    width: 300px;
    padding: 10px;
}

label{
    padding: 20px;
    font-size: 20px;
    position: relative;
    left: 40px;

}
input{
    margin: 20px;

}

table,
tr,
td{
    border: 5px black inset;
}